body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:831px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1640 {
  position:absolute;
  left:56px;
  top:29px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1641 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1642 {
  position:absolute;
  left:56px;
  top:64px;
  width:328px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1643 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1644 {
  position:absolute;
  left:751px;
  top:270px;
  width:80px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1645 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1646 {
  position:absolute;
  left:68px;
  top:213px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1648 {
  position:absolute;
  left:68px;
  top:343px;
  width:768px;
  height:98px;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1650 {
  position:absolute;
  left:2px;
  top:6px;
  width:265px;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u1651 {
  position:absolute;
  left:269px;
  top:0px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1652 {
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u1653 {
  position:absolute;
  left:524px;
  top:0px;
  width:239px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1654 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u1655 {
  position:absolute;
  left:0px;
  top:30px;
  width:269px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1656 {
  position:absolute;
  left:2px;
  top:6px;
  width:265px;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u1657 {
  position:absolute;
  left:269px;
  top:30px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1658 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
}
#u1659 {
  position:absolute;
  left:524px;
  top:30px;
  width:239px;
  height:30px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:33px;
}
#u1661 {
  position:absolute;
  left:0px;
  top:60px;
  width:269px;
  height:33px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:8px;
  width:265px;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:33px;
}
#u1663 {
  position:absolute;
  left:269px;
  top:60px;
  width:255px;
  height:33px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
}
#u1665 {
  position:absolute;
  left:524px;
  top:60px;
  width:239px;
  height:33px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1667 {
  position:absolute;
  left:56px;
  top:559px;
  width:97px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1669 {
  position:absolute;
  left:56px;
  top:612px;
  width:441px;
  height:327px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:156px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1671 {
  position:absolute;
  left:82px;
  top:657px;
  width:27px;
  height:18px;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1673 {
  position:absolute;
  left:144px;
  top:654px;
  width:332px;
  height:25px;
}
#u1673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1674 {
  position:absolute;
  left:336px;
  top:879px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1675 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1676 {
  position:absolute;
  left:177px;
  top:879px;
  width:140px;
  height:40px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1678 {
  position:absolute;
  left:726px;
  top:376px;
  width:29px;
  height:27px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1680 {
  position:absolute;
  left:726px;
  top:406px;
  width:29px;
  height:27px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1682 {
  position:absolute;
  left:80px;
  top:719px;
  width:27px;
  height:18px;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1684 {
  position:absolute;
  left:142px;
  top:716px;
  width:332px;
  height:25px;
}
#u1684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
