body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:750px;
}
#u1988 {
  position:absolute;
  left:46px;
  top:32px;
  width:1430px;
  height:750px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:367px;
  width:1426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:994px;
  top:271px;
  width:43px;
  height:20px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1992 {
  position:absolute;
  left:1061px;
  top:271px;
  width:300px;
  height:22px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1992_input:disabled {
  color:grayText;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1993 {
  position:absolute;
  left:1549px;
  top:78px;
  width:300px;
  height:262px;
  font-size:16px;
  color:#FF0000;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:576px;
  top:271px;
  width:71px;
  height:20px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1997 {
  position:absolute;
  left:651px;
  top:271px;
  width:228px;
  height:25px;
}
#u1997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1998 {
  position:absolute;
  left:889px;
  top:274px;
  width:51px;
  height:22px;
}
#u1998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1998_input:disabled {
  color:grayText;
}
