body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u879 {
  position:absolute;
  left:494px;
  top:378px;
  width:140px;
  height:25px;
}
#u879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:968px;
  top:372px;
  width:80px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u881 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u882 {
  position:absolute;
  left:323px;
  top:378px;
  width:148px;
  height:25px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u883 {
  position:absolute;
  left:57px;
  top:306px;
  width:97px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u885 {
  position:absolute;
  left:55px;
  top:443px;
  width:998px;
  height:98px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u887 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u888 {
  position:absolute;
  left:76px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u890 {
  position:absolute;
  left:171px;
  top:0px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u892 {
  position:absolute;
  left:307px;
  top:0px;
  width:124px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u894 {
  position:absolute;
  left:431px;
  top:0px;
  width:123px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u896 {
  position:absolute;
  left:554px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u897 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u898 {
  position:absolute;
  left:681px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u899 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u900 {
  position:absolute;
  left:786px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u901 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u902 {
  position:absolute;
  left:895px;
  top:0px;
  width:98px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u904 {
  position:absolute;
  left:0px;
  top:30px;
  width:76px;
  height:30px;
}
#u905 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u906 {
  position:absolute;
  left:76px;
  top:30px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u907 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u908 {
  position:absolute;
  left:171px;
  top:30px;
  width:136px;
  height:30px;
}
#u909 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u910 {
  position:absolute;
  left:307px;
  top:30px;
  width:124px;
  height:30px;
}
#u911 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u912 {
  position:absolute;
  left:431px;
  top:30px;
  width:123px;
  height:30px;
}
#u913 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u914 {
  position:absolute;
  left:554px;
  top:30px;
  width:127px;
  height:30px;
}
#u915 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u916 {
  position:absolute;
  left:681px;
  top:30px;
  width:105px;
  height:30px;
}
#u917 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u918 {
  position:absolute;
  left:786px;
  top:30px;
  width:109px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u920 {
  position:absolute;
  left:895px;
  top:30px;
  width:98px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
}
#u922 {
  position:absolute;
  left:0px;
  top:60px;
  width:76px;
  height:33px;
}
#u923 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
}
#u924 {
  position:absolute;
  left:76px;
  top:60px;
  width:95px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006633;
}
#u925 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u926 {
  position:absolute;
  left:171px;
  top:60px;
  width:136px;
  height:33px;
}
#u927 {
  position:absolute;
  left:2px;
  top:9px;
  width:132px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u928 {
  position:absolute;
  left:307px;
  top:60px;
  width:124px;
  height:33px;
}
#u929 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u930 {
  position:absolute;
  left:431px;
  top:60px;
  width:123px;
  height:33px;
}
#u931 {
  position:absolute;
  left:2px;
  top:9px;
  width:119px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u932 {
  position:absolute;
  left:554px;
  top:60px;
  width:127px;
  height:33px;
}
#u933 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
}
#u934 {
  position:absolute;
  left:681px;
  top:60px;
  width:105px;
  height:33px;
}
#u935 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
}
#u936 {
  position:absolute;
  left:786px;
  top:60px;
  width:109px;
  height:33px;
}
#u937 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u938 {
  position:absolute;
  left:895px;
  top:60px;
  width:98px;
  height:33px;
}
#u939 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:55px;
  top:734px;
  width:97px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:497px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:55px;
  top:787px;
  width:950px;
  height:497px;
}
#u943 {
  position:absolute;
  left:2px;
  top:240px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u944 {
  position:absolute;
  left:81px;
  top:832px;
  width:40px;
  height:18px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u946 {
  position:absolute;
  left:143px;
  top:829px;
  width:208px;
  height:25px;
}
#u946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u947 {
  position:absolute;
  left:381px;
  top:833px;
  width:40px;
  height:18px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u949 {
  position:absolute;
  left:438px;
  top:829px;
  width:208px;
  height:25px;
}
#u949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u950 {
  position:absolute;
  left:381px;
  top:881px;
  width:53px;
  height:18px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u952 {
  position:absolute;
  left:680px;
  top:831px;
  width:40px;
  height:18px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u954 {
  position:absolute;
  left:81px;
  top:941px;
  width:53px;
  height:18px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u956 {
  position:absolute;
  left:381px;
  top:939px;
  width:53px;
  height:18px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u958 {
  position:absolute;
  left:686px;
  top:940px;
  width:27px;
  height:18px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u960 {
  position:absolute;
  left:745px;
  top:936px;
  width:208px;
  height:25px;
}
#u960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u961 {
  position:absolute;
  left:81px;
  top:989px;
  width:27px;
  height:18px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u963 {
  position:absolute;
  left:144px;
  top:986px;
  width:208px;
  height:25px;
}
#u963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u964 {
  position:absolute;
  left:380px;
  top:989px;
  width:27px;
  height:18px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u966 {
  position:absolute;
  left:438px;
  top:986px;
  width:208px;
  height:25px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u967 {
  position:absolute;
  left:680px;
  top:989px;
  width:39px;
  height:18px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u969 {
  position:absolute;
  left:745px;
  top:986px;
  width:208px;
  height:25px;
}
#u969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u970 {
  position:absolute;
  left:81px;
  top:1032px;
  width:39px;
  height:18px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u972 {
  position:absolute;
  left:144px;
  top:1029px;
  width:208px;
  height:25px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u973 {
  position:absolute;
  left:813px;
  top:1202px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u974 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:654px;
  top:1202px;
  width:140px;
  height:40px;
}
#u976 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:1061px;
  top:820px;
  width:300px;
  height:387px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:91px;
  top:482px;
  width:39px;
  height:16px;
}
#u980 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u981 {
  position:absolute;
  left:91px;
  top:511px;
  width:39px;
  height:16px;
}
#u982 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u983 {
  position:absolute;
  left:124px;
  top:382px;
  width:107px;
  height:22px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u983_input:disabled {
  color:grayText;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:57px;
  top:383px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u986 {
  position:absolute;
  left:56px;
  top:29px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u988 {
  position:absolute;
  left:56px;
  top:64px;
  width:478px;
  height:206px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u990 {
  position:absolute;
  left:1090px;
  top:372px;
  width:300px;
  height:159px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:438px;
  top:880px;
  width:208px;
  height:22px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u992_input:disabled {
  color:grayText;
}
#u993 {
  position:absolute;
  left:755px;
  top:829px;
  width:208px;
  height:22px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u993_input:disabled {
  color:grayText;
}
#u994 {
  position:absolute;
  left:144px;
  top:936px;
  width:208px;
  height:25px;
}
#u994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u995 {
  position:absolute;
  left:438px;
  top:936px;
  width:208px;
  height:25px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u996 {
  position:absolute;
  left:81px;
  top:880px;
  width:53px;
  height:18px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u998 {
  position:absolute;
  left:144px;
  top:877px;
  width:208px;
  height:25px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u999 {
  position:absolute;
  left:81px;
  top:1087px;
  width:53px;
  height:18px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1001 {
  position:absolute;
  left:301px;
  top:1084px;
  width:51px;
  height:22px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1001_input:disabled {
  color:grayText;
}
#u1002 {
  position:absolute;
  left:144px;
  top:1082px;
  width:139px;
  height:25px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u1003 {
  position:absolute;
  left:381px;
  top:1086px;
  width:34px;
  height:18px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1005 {
  position:absolute;
  left:438px;
  top:1083px;
  width:208px;
  height:25px;
}
#u1005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u1006 {
  position:absolute;
  left:681px;
  top:1087px;
  width:47px;
  height:18px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1008 {
  position:absolute;
  left:745px;
  top:1084px;
  width:208px;
  height:25px;
}
#u1008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:57px;
  top:1484px;
  width:948px;
  height:461px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:222px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1011 {
  position:absolute;
  left:81px;
  top:1614px;
  width:40px;
  height:18px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1013 {
  position:absolute;
  left:381px;
  top:1615px;
  width:40px;
  height:18px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1015 {
  position:absolute;
  left:381px;
  top:1663px;
  width:53px;
  height:18px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1017 {
  position:absolute;
  left:680px;
  top:1613px;
  width:40px;
  height:18px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1019 {
  position:absolute;
  left:81px;
  top:1723px;
  width:53px;
  height:18px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1021 {
  position:absolute;
  left:381px;
  top:1721px;
  width:53px;
  height:18px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1023 {
  position:absolute;
  left:686px;
  top:1722px;
  width:27px;
  height:18px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1025 {
  position:absolute;
  left:81px;
  top:1771px;
  width:27px;
  height:18px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1027 {
  position:absolute;
  left:380px;
  top:1771px;
  width:27px;
  height:18px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1029 {
  position:absolute;
  left:680px;
  top:1771px;
  width:39px;
  height:18px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1031 {
  position:absolute;
  left:81px;
  top:1814px;
  width:39px;
  height:18px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1033 {
  position:absolute;
  left:81px;
  top:1662px;
  width:53px;
  height:18px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1035 {
  position:absolute;
  left:81px;
  top:1869px;
  width:53px;
  height:18px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u1037 {
  position:absolute;
  left:381px;
  top:1868px;
  width:34px;
  height:18px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u1039 {
  position:absolute;
  left:681px;
  top:1869px;
  width:47px;
  height:18px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1041 {
  position:absolute;
  left:57px;
  top:1412px;
  width:97px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:86px;
  top:1529px;
  width:118px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:214px;
  top:1529px;
  width:118px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1047 {
  position:absolute;
  left:349px;
  top:1529px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1048 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1049 {
  position:absolute;
  left:680px;
  top:880px;
  width:128px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1050 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  white-space:nowrap;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:256px;
  top:381px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1053 {
  position:absolute;
  left:845px;
  top:1529px;
  width:118px;
  height:30px;
  color:#FFFFFF;
}
#u1054 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:582px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:55px;
  top:2153px;
  width:948px;
  height:582px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:283px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1057 {
  position:absolute;
  left:79px;
  top:2283px;
  width:40px;
  height:18px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1059 {
  position:absolute;
  left:141px;
  top:2280px;
  width:208px;
  height:25px;
}
#u1059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1060 {
  position:absolute;
  left:379px;
  top:2284px;
  width:40px;
  height:18px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1062 {
  position:absolute;
  left:436px;
  top:2280px;
  width:208px;
  height:25px;
}
#u1062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1063 {
  position:absolute;
  left:366px;
  top:2332px;
  width:53px;
  height:18px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u1065 {
  position:absolute;
  left:678px;
  top:2282px;
  width:40px;
  height:18px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1067 {
  position:absolute;
  left:66px;
  top:2391px;
  width:53px;
  height:18px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1069 {
  position:absolute;
  left:366px;
  top:2391px;
  width:53px;
  height:18px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1071 {
  position:absolute;
  left:692px;
  top:2391px;
  width:27px;
  height:18px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1073 {
  position:absolute;
  left:743px;
  top:2387px;
  width:208px;
  height:25px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1074 {
  position:absolute;
  left:92px;
  top:2440px;
  width:27px;
  height:18px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1076 {
  position:absolute;
  left:142px;
  top:2437px;
  width:208px;
  height:25px;
}
#u1076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1077 {
  position:absolute;
  left:388px;
  top:2441px;
  width:27px;
  height:18px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1079 {
  position:absolute;
  left:436px;
  top:2437px;
  width:208px;
  height:25px;
}
#u1079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1080 {
  position:absolute;
  left:683px;
  top:2441px;
  width:39px;
  height:18px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1082 {
  position:absolute;
  left:743px;
  top:2437px;
  width:208px;
  height:25px;
}
#u1082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1083 {
  position:absolute;
  left:79px;
  top:2483px;
  width:39px;
  height:18px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1085 {
  position:absolute;
  left:142px;
  top:2480px;
  width:208px;
  height:25px;
}
#u1085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086 {
  position:absolute;
  left:811px;
  top:2653px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1087 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:652px;
  top:2653px;
  width:140px;
  height:40px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1090 {
  position:absolute;
  left:436px;
  top:2331px;
  width:208px;
  height:22px;
}
#u1090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1090_input:disabled {
  color:grayText;
}
#u1091 {
  position:absolute;
  left:753px;
  top:2280px;
  width:208px;
  height:22px;
}
#u1091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1091_input:disabled {
  color:grayText;
}
#u1092 {
  position:absolute;
  left:142px;
  top:2387px;
  width:208px;
  height:25px;
}
#u1092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1093 {
  position:absolute;
  left:436px;
  top:2387px;
  width:208px;
  height:25px;
}
#u1093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1094 {
  position:absolute;
  left:66px;
  top:2332px;
  width:53px;
  height:18px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1096 {
  position:absolute;
  left:142px;
  top:2328px;
  width:208px;
  height:25px;
}
#u1096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u1097 {
  position:absolute;
  left:65px;
  top:2538px;
  width:53px;
  height:18px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1099 {
  position:absolute;
  left:299px;
  top:2535px;
  width:51px;
  height:22px;
}
#u1099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1099_input:disabled {
  color:grayText;
}
#u1100 {
  position:absolute;
  left:142px;
  top:2533px;
  width:139px;
  height:25px;
}
#u1100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u1101 {
  position:absolute;
  left:372px;
  top:2533px;
  width:47px;
  height:22px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1103 {
  position:absolute;
  left:436px;
  top:2534px;
  width:208px;
  height:25px;
}
#u1103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u1104 {
  position:absolute;
  left:679px;
  top:2538px;
  width:47px;
  height:18px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1106 {
  position:absolute;
  left:743px;
  top:2535px;
  width:208px;
  height:25px;
}
#u1106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1107 {
  position:absolute;
  left:55px;
  top:2081px;
  width:97px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1109 {
  position:absolute;
  left:79px;
  top:2190px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1110 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1111 {
  position:absolute;
  left:147px;
  top:1615px;
  width:81px;
  height:16px;
  color:#000000;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  position:absolute;
  left:438px;
  top:1616px;
  width:102px;
  height:16px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1115 {
  position:absolute;
  left:745px;
  top:1616px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1117 {
  position:absolute;
  left:150px;
  top:1664px;
  width:75px;
  height:16px;
  color:#000000;
}
#u1118 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1119 {
  position:absolute;
  left:441px;
  top:1663px;
  width:79px;
  height:19px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1121 {
  position:absolute;
  left:150px;
  top:1724px;
  width:57px;
  height:16px;
  color:#000000;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1123 {
  position:absolute;
  left:444px;
  top:1721px;
  width:29px;
  height:20px;
  color:#000000;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1125 {
  position:absolute;
  left:745px;
  top:1722px;
  width:29px;
  height:20px;
  color:#000000;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1127 {
  position:absolute;
  left:150px;
  top:1773px;
  width:17px;
  height:16px;
  color:#000000;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1129 {
  position:absolute;
  left:424px;
  top:1772px;
  width:49px;
  height:16px;
  color:#000000;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1131 {
  position:absolute;
  left:745px;
  top:1772px;
  width:29px;
  height:16px;
  color:#000000;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1133 {
  position:absolute;
  left:150px;
  top:1816px;
  width:37px;
  height:16px;
  color:#000000;
}
#u1134 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1135 {
  position:absolute;
  left:150px;
  top:1871px;
  width:63px;
  height:20px;
  color:#000000;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1137 {
  position:absolute;
  left:425px;
  top:1870px;
  width:29px;
  height:16px;
  color:#000000;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1139 {
  position:absolute;
  left:745px;
  top:1869px;
  width:49px;
  height:16px;
  color:#000000;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  position:absolute;
  left:1081px;
  top:1498px;
  width:300px;
  height:69px;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  position:absolute;
  left:1061px;
  top:2163px;
  width:300px;
  height:18px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u1145 {
  position:absolute;
  left:68px;
  top:1138px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1147 {
  position:absolute;
  left:144px;
  top:1138px;
  width:208px;
  height:22px;
}
#u1147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1147_input:disabled {
  color:grayText;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u1148 {
  position:absolute;
  left:66px;
  top:2594px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1150 {
  position:absolute;
  left:142px;
  top:2594px;
  width:208px;
  height:22px;
}
#u1150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1150_input:disabled {
  color:grayText;
}
