body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:728px;
}
#u1999 {
  position:absolute;
  left:26px;
  top:11px;
  width:1431px;
  height:728px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:356px;
  width:1427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2001 {
  position:absolute;
  left:87px;
  top:111px;
  width:106px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:385px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:235px;
  top:88px;
  width:1216px;
  height:385px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:184px;
  width:1212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:283px;
  top:123px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2007 {
  position:absolute;
  left:437px;
  top:125px;
  width:36px;
  height:18px;
}
#u2008 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2007_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2009 {
  position:absolute;
  left:486px;
  top:125px;
  width:36px;
  height:18px;
}
#u2010 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2009_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:282px;
  top:177px;
  width:113px;
  height:20px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2013 {
  position:absolute;
  left:436px;
  top:177px;
  width:36px;
  height:18px;
}
#u2014 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2013_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2015 {
  position:absolute;
  left:485px;
  top:177px;
  width:36px;
  height:18px;
}
#u2016 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2015_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:282px;
  top:235px;
  width:127px;
  height:20px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2019 {
  position:absolute;
  left:436px;
  top:235px;
  width:36px;
  height:18px;
}
#u2020 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2019_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2021 {
  position:absolute;
  left:485px;
  top:235px;
  width:36px;
  height:18px;
}
#u2022 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2021_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  position:absolute;
  left:677px;
  top:405px;
  width:140px;
  height:40px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2025 {
  position:absolute;
  left:1521px;
  top:54px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
